*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* font-size: 10px; 
   * NOTE: setting font-size to 10px is bad practice. Because it might override
   * the user specififed rules. So it's better to use percentage
   */
  font-size: 62.5%; /* 10 / 16 */
}

body {
  box-sizing: border-box;
}
