@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*
  allowed values for $breakpoint:
  - phone
  - tab-port (for tablets in portrait mode)
  - tab-land (for tablets in landscape mode)
  - big-desktop
*/
@mixin respond($breakpoint) {
  // NOTE: ems are best option for media queries
  // 1em = 16px
  // 600px =  37.5em
  // 900px =  37.5em
  // 1200px =  37.5em
  // 1800px =  37.5em

  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }

  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }

  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  }
}
